.sty-navbar {
  background-color: #222;
  height: 80px;
}

body {
  padding-top: 120px;
}

canvas {
  height:288px;
  width: 512px; 
  border: 1px solid #c3c3c3;
  margin: 15px;
  margin-top: 30px;
  }